<!DOCTYPE html>
<html>
<head>
  <title>Confirmation</title>
</head>
<body>
  <%- include('includes/_navbar')%>
  <h1>Confirmation</h1>
  <p>Thank you, <%= name %>, for submitting the contact form!</p>
  <p>We will contact you at <%= email %> soon.</p>
</body>
</html>
