<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
  <%- include('includes/_header'); %>
    <h1>Welcome to Our Website!</h1>
    <p>This is the home page of our website. Explore and enjoy!</p>
  
</body>
</html>