<%- include('includes/_header')%>

<div class="container body-start">
    <h1>Dashboard</h1>  
    <p>Welcome <strong><%= userData.name %></strong></p>
    <p>email id : <strong><%= userData.email %></strong></p>
    <a href="/logout">Logout</a>
</div>

<%- include('includes/_footer')%>