<%- include('includes/_header'); %>
    <div class="container body-start">
      <h1>Welcome to Our Website!</h1>
      <p>This is the home page of our website. Explore and enjoy!</p>
    </div>
<%- include('includes/_footer'); %>